doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/style_1-3.css")
        title Sala 1-3
    body 
       h1 1-3
       form.formulario_data_user(action="/1-3", method="post")
          input.inputs(type="text", name="name",placeholder="Nombre")
          input.inputs(type="text",name="surname",placeholder="Apellido")
          label(for="dino-select") Dietas
          select (id="dino-select")
             optgroup(label="Dieta")
                option General
                option AG Con Carne
                option AG Sin Carne
                option Líquido
                option Papilla
                option Semi-solido
                option Astringente
                option Diabético
                option Licuado
                option Enteral
                option Hiposódico
          div.radio_conte
             input(type="radio",name="familiar",value="Familiar",id="radiobutton")
             label Familiar

          input.inputs(type="text",id="Colaciones",list="options",placeholder="Colaciones")
          datalist(id="options")
             option(value="Opción 2")
             option(value="Opción 3")
             option(value="Opción 4")
             option(value="Opción 5")

          
  
          textarea.textarea(name="Observations", cols="30", rows="10",placeholder="Observaciones") 
          input(type="submit", value="submit") 

       div.conteinner_camas
          div.cama 1
          div.cama 2
          div.cama 3
          div.cama 4
          div.cama 5
          div.cama 6
          div.cama 7
          div.cama 8
          div.cama 9
          div.cama 10
          div.cama 11
          div.cama 12
          div.cama 13
          div.cama 14
          div.cama 15
          div.cama 16
          div.cama 17
          div.cama 18
          div.cama 19
          div.cama 20
          div.cama 21
          div.cama 22
          div.cama 23
          div.cama 24
          div.cama 25
          div.cama 26
          div.cama 27
          div.cama 28
          div.cama 29
          div.cama 30
          div.cama 31
          div.cama 32
          div.cama 33
          div.cama 34
          div.cama 35
          div.cama 36
          div.cama 37
          div.cama 38
          div.cama 39
          div.cama 40
          div.cama 41
          div.cama 42
          div.cama 43
          div.cama 44
          div.cama 45
          div.cama 46
          div.cama 47
          div.cama 48
          div.cama 49
          div.cama 50
          div.cama 51
          div.cama 52
          div.cama 53
          div.cama 54
          div.cama 55
          div.cama 56
          div.cama 57
          div.cama 58
          div.cama 59
          div.cama 60
          div.cama 61
          div.cama 62
          div.cama 63
          div.cama 64
    script(src="./scripts/script_1-3.js") 